name: Python

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  validate:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    name: Python
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Validate
      shell: bash
      run: |
        python -m pip install uv > /dev/null
        PYTHONPATH=. uv run --python ${{ matrix.python-version }} pytest
        echo "tag1: $GITHUB_REF_NAME"
        echo "tag2: ${{  github.ref_name }}"
        uv version `git describe --tags --abbrev=0`
        uv build --python ${{ matrix.python-version }}
