name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Test Pull
        uses: ./
        id: pull
        with:
          action: pull
          registry: wa.dev
          package: component-book:adder

      - name: Test pull outputs
        shell: bash
        run: |
          [ "${{ steps.pull.outputs.registry }}" != "wa.dev" ] && exit 1;
          [ "${{ steps.pull.outputs.registry-type }}" != "test" ] && exit 1;
          [ "${{ steps.pull.outputs.package }}" != "component-book:adder@0.1.0" ] && exit 1;
          [ "${{ steps.pull.outputs.package-namespace }}" != "component-book" ] && exit 1;
          [ "${{ steps.pull.outputs.package-name }}" != "adder" ] && exit 1;
          [ "${{ steps.pull.outputs.package-version }}" != "0.1.0" ] && exit 1;
          [ "${{ steps.pull.outputs.filename }}" != "component-book:adder@0.1.0.wasm" ] && exit 1;
          [ "${{ steps.pull.outputs.digest }}" != "sha256:2afffac0a89b4f6add89903754bb5a09a51378ef14f159283c1a6408abb43147" ] && exit 1;
          exit 0;
