name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: mktemp
        shell: bash
        run: |
          # push to a folder outside the project
          pushd `mktemp -d`
          env

      - name: Test Pull
        uses: ./
        id: pull1
        with:
          action: pull
          registry: wa.dev
          package: component-book:adder@0.1.0

      - name: Test pull outputs
        shell: bash
        run: |
          [ "${{ steps.pull1.outputs.registry }}" != "wa.dev" ] && exit 1;
          [ "${{ steps.pull1.outputs.registry-type }}" != "warg" ] && exit 1;
          [ "${{ steps.pull1.outputs.package }}" != "component-book:adder@0.1.0" ] && exit 1;
          [ "${{ steps.pull1.outputs.package-namespace }}" != "component-book" ] && exit 1;
          [ "${{ steps.pull1.outputs.package-name }}" != "adder" ] && exit 1;
          [ "${{ steps.pull1.outputs.package-version }}" != "0.1.0" ] && exit 1;
          [ "${{ steps.pull1.outputs.filename }}" != "component-book:adder@0.1.0.wasm" ] && exit 1;
          [ "${{ steps.pull1.outputs.digest }}" != "sha256:2afffac0a89b4f6add89903754bb5a09a51378ef14f159283c1a6408abb43147" ] && exit 1;
          exit 0;

      - name: Test Pull Private
        uses: ./
        id: pull2
        with:
          action: pull
          registry: wa.dev
          package: rocketniko:gcd
        env:
          WARG_TOKEN: ${{ secrets.WARG_TOKEN }}

      - name: Test Pull Public With Auth
        uses: ./
        id: pull3
        with:
          action: pull
          registry: wa.dev
          package: component-book:adder
        env:
          WARG_TOKEN: ${{ secrets.WARG_TOKEN }}
