name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Pull test
        uses: ./
        id: pull
        with:
          action: pull
          registry: wa.dev
          package: component-book/adder

      - name: Display outputs
        shell: bash
        run: |
          echo "registry:" ${{ steps.pull.outputs.registry }}
          echo "registry-type:" ${{ steps.pull.outputs.registry-type }}
          echo "namespace:" ${{ steps.pull.outputs.namespace }}
          echo "name:" ${{ steps.pull.outputs.name }}
          echo "version:" ${{ steps.pull.outputs.version }}
          echo "filename:" ${{ steps.pull.outputs.filename }}
          echo "digest:" ${{ steps.pull.outputs.digest }}
