name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Validate
      shell: bash
      run: |
        docker run --rm -v "${PWD}:/local" \
            openapitools/openapi-generator-cli validate \
            -i /local/openapi/warg.yml
